name: frontend-ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./bank-automat
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # Cache Qt installation
            - name: Cache Qt
              uses: actions/cache@v4
              with:
                path: ${{ runner.temp }}/qt
                key: ${{ runner.os }}-qt-6.5-cache
                restore-keys: |
                  ${{ runner.os }}-qt-
            
            # Install Qt 6.5.2 using miurahr/setup-qt
            - name: Setup Qt 6.5.2
              uses: miurahr/setup-qt@v3
              with:
                version: '6.5.2'
                modules: 'qtbase qttools qtsvg'
            
            - name: install cmake
              run: sudo apt-get update && sudo apt-get install -y cmake build-essential qt6-base-dev
            
            - name: Install cppcheck
              run: sudo apt-get install -y cppcheck

            - name: run cppcheck
              run: cppcheck --enable=all --inconclusive --quiet --std=c++17 .
              
            - name: configure project
              run: cmake -B build

            - name: build project
              run: cmake --build build --config Release -- -j$(nproc)

            - name: login test
              run: ctest --test-dir build --output-on-failure
              env:
                BACKEND_IP: ${{ secrets.SERVER_HOST }}
                BACKEND_PORT: ${{ secrets.BACKEND_PORT }}
                TEST_CARD: ${{ secrets.TEST_CARD }}
                TEST_PIN: ${{ secrets.TEST_PIN }}
            
            - name: deploy to server via ssh
              if: github.ref == 'refs/heads/main' && github.event_name == 'push'
              uses: appleboy/scp-action@v0.1.4
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USER }}
                  key: ${{ secrets.SERVER_SSH_KEY }}
                  port: ${{ secrets.SERVER_SSH_PORT }}
                  source: "./bank-automat/build/*"
                  target: ${{ secrets.SERVER_DEPLOY_PATH }}